session_script    /tmp/session-script
session_log       ~/.config/sessions.log
state_file        ~/.config/sessions.state
image_viewer      /usr/bin/feh
image_playlist    /tmp/session-images
image_delay       3.5
image_checker     ~/toys/icy-build
ctronome          ~/bin/ctronome
tick_file         ~/toys/tick.wav
tock_file         ~/toys/tock.wav

day_start         8_30 # using : as a delimeter fucks config parsing.

daily_required    5

images_vip        ~/files/images/heather/sexy/gifts
images_vs         ~/files/images/heather/sexy/edges
images_special    ~/files/images/heather/sexy/safe

images_rand       ~/files/downloads/images
images_rand       ~/files/downloads/images/captions
images_rand       ~/files/images/dowload/hardcore/
images_rand       ~/files/images/hard

images_rand_count 350
images_seed_count 120
images_vs_count   30
images_vip_count  0

pace_max          195
pace_min          80
pace_cur          0

time_min          5
time_max          10
time_unit         60

fuzzify           1
matches_max       10
endzone_low       5
endzone_high      80

greens            0
green_pics        0
yellow_pics       0

green_chance      8
green_buffer      88

no_more_lube      45

prize_chance      30
prize_buffer      120

prize_target      80
prize_two         0
prize_time        15

time_chance       12
time_buffer       128
time_add          30

lube_chance       32
lube_break        120

bonus_chance      100

buffer_reset      3

show_rank         1

twitter_consumer_secret <consumer_secret>
twitter_consumer_key <consumer_key>
twitter_access_token <access_token>
twitter_access_token_secret <token_secret>
